@charset "utf-8";

#SceneCyworldLogin {
	position : absolute;
	left:154px; top:165px;
}
.box_login {
	width:449px; margin:0 0 0 7px;
}
.box_login .login_top {
	margin:0 0 31px 0;
}
.box_login .login_top .login_top_cyworld {
	overflow:hidden;
	width:449px; height:70px;
}
.box_login .login_top .login_top_cyworld .title_nate {
	float:left;
	width:221px; height:70px;
	background:url("../image/text/title_nate_off.png") no-repeat left top;
}
.box_login .login_top .login_top_cyworld .title_cyworld {
	float:left;
	width:228px; height:70px;
	background:url("../image/text/title_cyworld_on.png") no-repeat left top;
}
.box_login .login_top .login_top_cyworld .title_nate.focus {
	background-image:url("../image/text/title_nate_off_focus.png");
}
.box_login .login_top .login_top_cyworld .title_cyworld.focus {
	background-image:url("../image/text/title_cyworld_on_focus.png");
}
.box_login .info {
	margin: -20px 0 14px 3px;
	height: 46px;
	color: #444;
	font-size: 20px;
	overflow: hidden;
}
.box_login .login_input input {
	height:57px; border:1px solid #aeaeae;
	color:#ababab; font-size:22px; 
}
.box_login .login_input .input_type2 {
	float:left;
	margin:0 0 6px 0;
}
.box_login .login_input .input_text2 {
	width:122px; padding:0 5px;
	background:#fff url("../image/bg/bg_input_text2.png") no-repeat left top;
}
.box_login .login_input .input_type3 {
	clear:both;
	width:442px; margin:0 0 14px 0;
}
.box_login .login_input .input_text3 {
	width:430px; padding:0 5px;
	background:#fff url("../image/bg/bg_input_text3.png") no-repeat left top;
}
.box_login .login_input .input_text3.ready {
	background:#fff url("../image/bg/bg_input_text3_1.png") no-repeat left top;
}
.box_login .login_input .input_type4 {
	/* position:absolute;
	left:360px; top:141px; */
	float:left;
	padding:0;
	margin-bottom:22px;
}
.box_login .login_input .input_wrap {
	/* position:absolute;
	left:360px; top:141px; */
	float:left;
	margin:0;
}
.box_login .login_input .input_type4 .btn{
	border-top:1px solid transparent;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	width:442px; height:56px;
	background:url("../image/btn/btn_login1.png") no-repeat left top;
}
.box_login .login_input .input_type4.focus .btn{
	height:55px;
	background:url("../image/btn/btn_login1.png") no-repeat left top;
}
.box_login .login_input .input_type5 {
	width:442px;
	margin:0 10px 14px 0;
}
.box_login .login_input .input_text5 {
	width:430px; padding:0 5px; 
	background:#fff url("../image/bg/bg_input_text1.png") no-repeat left top;
}
.box_login .login_input .input_text5.ready {
	background:#fff url("../image/bg/bg_input_text5_1.png") no-repeat left top;
}
.box_login .login_input .login_check {
	clear:both; overflow:hidden;
	width:420px;
}
.box_login .login_input .login_check .box_radio {
	float:left;
	color:#ababab; font-size:22px;
	height:43px; padding:5px 0 0 48px; margin:0 45px 0 0;
	background:url("../image/icon/icon_login_check_none.png") no-repeat left top;
}
.box_login .login_input .login_check .box_radio.check {
	color:#666;
	background:url("../image/icon/icon_login_check.png") no-repeat left top;
}
.box_login .login_input .login_check .box_radio input {
	display:none;
}
.box_login .login_input .login_check .box_radio.focus {
    outline: none;
}
.box_login .login_input .login_check .box_radio.focus .text {
    outline:5px solid #f77125;
}

.box_login .login_input .focus {
	outline:7px solid #f77125;
	padding:0;
}
.box_login .login_input .focus input {
	border:1px solid #c94313;
	/* background:#fff url("../image/bg/bg_input_common.png") repeat-x left top; */
}
.box_login .login_input .focus img {
	border:1px solid #c94313;
}
.box_login .login_input .focus .btn {
	border:1px solid #c94313;
}
