@charset "utf-8";

#ScenePadoList {
	position : absolute;
	left : 32px; top:185px;
	width:1216px;
}
.pado_list .box_contents {
	position : absolute; left:0; top:42px;
    width:1216px; height:403px;
}

.pado_list .box_contents .list_prev {
	float:left;
	width:26px; height:42px; margin:165px 25px 0 4px;
}
.wrap_list_pado {
	width:1120px; height:356px; overflow:hidden; float:left;
}
.pado_list .box_contents .box_list_pado {
	position:relative; width:3387px; height:356px; float:left;
}
.pado_list .box_contents .list_pado {
	position:relative; float:left; left:-1129px;
	width:1121px; height:342px; padding:8px 0 8px 8px; margin:0 0 15px 0;
}
.pado_list .box_contents .list_next {
	float:left;
	width:26px; height:42px; margin:165px 0 0 2px;
}

.pado_list .box_contents .text_pado_num {
	clear:both;
	margin:0 60px 0 0;
	font-size:20px; text-align:right;
}
.pado_list .box_contents .text_pado_num .num {
	color:#1b5f7d;
}
.pado_list .box_contents .text_pado_num .sum {
	color:#fff;
}

.pado_list .list_pado li {
	float:left; position:relative;
	width:110px; height:94px; margin:0 30px 25px 0;
}
.pado_list .list_pado li .inner {
	width:110px; height:94px;
	overflow:hidden;
}
.pado_list .list_pado li .inner .text_user {
	position:absolute; z-index:1; left:0; top:69px;
	width:106px; height:23px; padding:2px 0 0 4px;
	color:#fff; font-size:20px;
	background:#000; opacity:0.8;
	overflow:hidden;
	text-overflow:ellipsis; white-space:nowrap;
}
.pado_list .list_pado li.focus{
	outline:7px solid #f77125;
}
.pado_list .list_pado li.focus .inner {
	outline:1px solid #c94313;
}

.pado_list .box_contents .list_prev_off {
    background:url('../image/btn/btn_prev_off.png') no-repeat left top;
}
.pado_list .box_contents .list_prev_on {
    background:url('../image/btn/btn_prev_on.png') no-repeat left top;
}
.pado_list .box_contents .list_next_off {
    background:url('../image/btn/btn_next_off.png') no-repeat left top;
}
.pado_list .box_contents .list_next_on {
    background:url('../image/btn/btn_next_on.png') no-repeat left top;
}

/* text_search_result */
.pado_list .text_search_result {
	margin:0 0 0 29px;
	color:#333; font-size:26px;
}
.pado_list .text_search_result span {
	color:#50879f;
}
